@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-mono: 'Roboto Mono', monospace;
  }
  html {
    font-family: 'Noto Sans JP', 'Hiragino Sans', sans-serif;
    background: #fff;
    color: #111;
    -webkit-font-smoothing: antialiased;
  }
  body {
    margin: 0;
  }
}
